[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
Sphinx = "*"
pampy = "*"
importlib-metadata = "*"
pylint = "*"
black = "*"
isort = "*"
pre-commit = "*"

[packages]
pytask-io = {path = ".", editable = true}

[pipenv]
allow_prereleases = true